a{
    color: black;
    text-decoration: none;
}
.container{
    width: 80vw;
    margin: 0 auto;
}
.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &__section-specializations{
        margin-top: 510px;
    }
    &__section-about{
        // display: flex;
    }
    // &__section-clients{

    // }
    // %__section-reviews{

    // }
    // &__footer{

    // }
}
//header
.header{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-align: left;
    &__container{
        display: grid;
        grid-template-areas: 'logo nav nav'
                             'logo nav nav'
                            'slider slider slider';
        grid-template-columns: 1fr 1fr 1.5fr;
        grid-template-rows: repeat(3, auto);
        margin: 0 auto;
    }
    &__logo{
        grid-area: logo;
        max-height: 43px;
        margin: auto 0;
    }
    &__list-wrapper{
        grid-area: nav;
    }
    &__main-list{
        margin: 22px 0 22px 28px;
    }
    &__main-navigation{
        margin: 15px 0 ;
    }
    &__slider{
        grid-area: slider;
        top: 105px;
        left: 0;
        right: 0;
        // height: 800px;   
    }
}
.container{
    width: 80vw;

}
.main-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    &__item{    
        position: relative;
    }
    &__img{
        position: absolute;
        left: -.5em;
        max-height: 17;
    }
    &__link{
        padding-left: 1.5em ;
    }
    
}
.main-navigation{
    &__main-list{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
    }
}
.slide{
    background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/a4/e0/27/st-petersburg.jpg?w=1000&h=600&s=1');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6);
    &__container{
        // opacity: 0.7;
        margin: 0 auto;
        padding-top: 110px;
        padding-bottom: 110px;
        height: 300px;
    }
    &__title{
        color:white;
        line-height: 1.5;
        font-family: 'Merriweather';
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 66px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 70px;
    }
    &__button{
        width: 270px;
        padding: 1.2em 3em;
        background: #005FA3;    
        font-family: inherit;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: white;

    }
}
.button{
    color: white;
}

.slick-list{
    overflow: hidden;
}

.slick-track{
    display: flex;
}

.slider-clients__item{
    min-height: 200px;
    background-image: url(https://visit-petersburg.ru/media/uploads/audioguide/43/43_cover.jpg);
}
.header .slick-arrow{
    position: absolute;
    top: 70%;
}

.slider{
    position: absolute;
    width: 100vw;
    // overflow: hidden;
    
}
.slick-list.draggable{
    width: 100vw;
}
.slick-arrow{
    position: absolute;
    bottom: 20%;
    right: 100px;
    z-index: 10;
    font-size: 0;
    width: 60px;
    height: 60px;
    background-color: #fff;
    opacity: 0.2;
}
.slick-arrow.slick-prev{
    right: 157px;
}
.slick-arrow.slick-prev:hover{
    opacity: 0.4;

}
.slick-arrow.slick-next:hover{
    opacity: 0.4;

}
.slick-arrow.slick-prev::after{
    content: ' ';
    position: absolute;
    border: 1px solid;
    border-color: black black transparent transparent ;
    padding: 8px;
    transform: rotate(-135deg) !important;
    left: calc(55% - 10px);
    top: calc(50% - 10px);
}
.slick-arrow.slick-next::after{
    content: ' ';
    position: absolute;
    border: 1px solid;
    border-color: black black transparent transparent ;
    padding: 10px;
    transform: rotate(45deg) !important;
    left: calc(40% - 10px);
    top: calc(50% - 10px);
}

.slick-dots{
    position: absolute;
    display: flex;
    padding: 0;
    bottom: 40px;
    left: 10vw;
    li{
        list-style: none;
        margin-right: 20px;

    }
    button{
        font-size: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.4;
    }
}

.slick-dots li.slick-active button{
    opacity: initial;
}
.section-specializations{
    padding: 0 0 50px 0;
    background-color: #EBEBEB;
    padding-bottom: 140px;
    &.container{
        display: flex;
    }
}

.tagline{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
    padding-top: 140px;
    margin: 0;
}
.caption{
    font-family: 'Merriweather';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    color: #333;
    margin: 0;
    padding: 40px 0 0 0;
}
.list-gallery{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    padding-top: 100px;

    &__item{
        background-image: url(/img/Rectangle.png);
        background-size: cover;
        width: 20vw;
        height: 360px;
        margin: 0 2vw 2vw 0;
        flex-grow: 1;
        position: relative;
    }
    &__paragraph{
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
        padding-left: 50px;
        padding-top: 70%;
        position: absolute;
        bottom: 45px;
        left: 45px;
        margin: 0;
        padding: 0;
    }
}
.list-gallery__item:nth-child(3n) {
    margin-right: 0;
    }
.section-about{
    &__wrapper{
        flex-basis: 50%;
        margin-right: 2vw;
    }
    &__list-gallery{
        flex-basis: 48%;
    }
}
.list-gallery{
    // flex-wrap: wrap;

    &__card{
        width: 12vw;
        flex-basis: 44%;
        flex-grow: 1;
        height: 240px;
        background-color: #EBEBEB;
        margin: 0 2vw 2vw 0;
        // flex-grow: 1;
    }
}